html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* Font Names */
/* endOf Font Names */
/* Sizes */
/* endOf Sizes */
/* Colors */
/* endOf Colors */
.margin-default {
  margin: 40px; }
.margin-default-top {
  margin-top: 40px; }
.margin-default-right {
  margin-right: 40px; }
.margin-default-bottom {
  margin-bottom: 40px; }
.margin-default-left {
  margin-left: 40px; }
.margin-default-half {
  margin: 20px; }
.margin-default-half-top {
  margin-top: 20px; }
.margin-default-half-right {
  margin-right: 20px; }
.margin-default-half-bottom {
  margin-bottom: 20px; }
.margin-default-half-left {
  margin-left: 20px; }
.margin-none {
  margin: 0; }

.padding-default {
  padding: 40px; }
.padding-default-top {
  padding-top: 40px; }
.padding-default-right {
  padding-right: 40px; }
.padding-default-bottom {
  padding-bottom: 40px; }
.padding-default-left {
  padding-left: 40px; }
.padding-default-half {
  padding: 20px; }
.padding-default-half-top {
  padding-top: 20px; }
.padding-default-half-right {
  padding-right: 20px; }
.padding-default-half-bottom {
  padding-bottom: 20px; }
.padding-default-half-left {
  padding-left: 20px; }
.padding-none {
  padding: 0; }

.main-view {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .main-view > div:first-child {
    padding-left: 40px;
    padding-bottom: 40px;
    width: 50%;
    min-height: calc(100vh - 50px);
    overflow: visible;
    z-index: 1; }
  .main-view > div:last-child {
    width: 50%;
    min-height: calc(100vh - 50px);
    background-color: #FF9B00; }

.header-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100px; }
  .header-navigation * {
    color: inherit;
    text-decoration: none;
    -webkit-transition: all .25s;
    transition: all .25s; }
    .header-navigation *:hover {
      color: #FF9B00; }
  .header-navigation *:not(.link) {
    margin-right: 40px; }
  .header-navigation *:not(.brand):not(:last-child) {
    margin-right: 30px; }
  .header-navigation .brand {
    font-family: "Poppins", sans-serif;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer; }
  .header-navigation .link {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    cursor: pointer; }

.person-description {
  margin-bottom: 30px;
  cursor: default; }
  .person-description h2 {
    margin-bottom: 8px;
    font-family: "Roboto Slab", serif;
    font-size: 40px;
    font-weight: 200;
    color: #505050; }
  .person-description p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #505050; }

.button-hire {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 40px;
  width: calc(100% + 57px);
  height: 100px;
  background-color: #fff;
  color: #505050;
  border: none;
  border-left: 3px solid #FF9B00;
  font-family: "Roboto Slab", serif;
  font-size: 40px;
  font-weight: 200;
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
  cursor: pointer;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .2s;
  transition: all .2s; }
  .button-hire:hover {
    -webkit-transform: translate(-2px, -3px);
            transform: translate(-2px, -3px); }
  .button-hire i.material-icons {
    position: absolute;
    right: 30px;
    font-size: 32px; }

.button-circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 40px;
  border: none;
  border: 1px solid #FF9B00;
  border-radius: 100%;
  background-color: transparent;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .2s;
  transition: all .2s; }
  .button-circle i {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 17px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #FF9B00;
    -webkit-transition: all .2s;
    transition: all .2s; }
  .button-circle:hover {
    background-color: #FF9B00;
    -webkit-transform: translate(-1px, -2px);
            transform: translate(-1px, -2px); }
    .button-circle:hover i {
      color: #fff; }

.button-circle.facebook i:before {
  content: "\f39e"; }
.button-circle.instagram i:before {
  content: "\f16d"; }
.button-circle.linkedin i:before {
  content: "\f0e1"; }

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .social-links.top {
    margin-top: 30px; }
  .social-links.bottom {
    margin-bottom: 30px; }
  .social-links.both {
    margin: 30px 0; }
  .social-links *:not(:last-child) {
    margin-right: 25px; }

.feature-display-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  min-width: 400px;
  max-width: 400px;
  min-height: 200px;
  max-height: 200px;
  background-color: rgba(252, 252, 252, 0.92);
  border-radius: 2px;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition: all .2s;
  transition: all .2s; }
  .feature-display-card h2 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #FF9B00;
    line-height: 1; }
  .feature-display-card p {
    font-family: "Poppins", sans-serif;
    font-size: 12px;
    color: #505050; }
  .feature-display-card.active {
    background-color: #FCFCFC; }
  .feature-display-card:first-child {
    margin-top: 40px; }
  .feature-display-card:last-child {
    margin-bottom: 40px; }
  .feature-display-card:not(:last-child) {
    margin-bottom: 40px; }
  .feature-display-card:hover {
    -webkit-transform: translate(-2px, -2px);
            transform: translate(-2px, -2px); }

.sk-cube-grid {
  width: 40px;
  height: 40px;
  margin: 100px auto; }

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #505050;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; }

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s; }

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s; }

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s; }

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0.1, 0.1, 1);
    transform: scale3D(0.1, 0.1, 1); } }
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1); }
  35% {
    -webkit-transform: scale3D(0.1, 0.1, 1);
    transform: scale3D(0.1, 0.1, 1); } }
.home.main-view .header-navigation {
  margin-bottom: 140px; }

.side-display {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FCFCFC; }

html {
  font-size: 16px;
  color: #505050; }

body #root {
  margin: auto auto;
  max-width: 1366px;
  background-color: #FCFCFC; }
body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  background-color: #505050;
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-size: 12px; }
