.side-display {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $color-background;
    background-image: url("/assets/images/mountain.jpg");
    background-position: center;
    background-size: cover;

    &:before {
        position: absolute;
        content: '';
        width: 100%;
        height: 100%;
        background-color: $color-branding;
        opacity: .7;
    }

    .slide-buttons {
        position: absolute;
        right: $spacing-default;
        top: 50%;
        transform: translateY(-50%);

        button, a {
            margin-bottom: $spacing-secondary;
            color: $color-white;
            border-color: $color-white;
            cursor: pointer;

            &:hover {
                background-color: transparent;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        button i,
        a i {
            color: $color-white;
            font-size: $size-font-xl;
            cursor: pointer;
            outline: none;
            user-select: none;
        }
        
        &.off {
            display: none;
        }
    }
}

@media only screen and (max-width: $size-screen-mobile-l) {
    .side-display {
        padding: 0 10px;
    }

    .side-display .slide-buttons {
        position: relative;
        top: unset;
        right: unset;
        transform: rotateZ(-90deg);
    }
}