html {
    font-size: $size-font;
    color: $color-contrast;
}

body {
    position: relative;
    overflow-x: hidden;
    
    #root {
        margin: auto auto;
        max-width: 1920px;
        background-color: $color-background;
    }

    * {
        outline: none;
        box-sizing: border-box;
    }
}