footer {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100vw;
    left: 0;
    background-color: $color-contrast;
    color: $color-white;
    font-family: $font-poppins;
    font-size: $size-font-xs;
    z-index: 100;
}