@keyframes slideRight {
    from {
        margin: 0;
    }
    to {
        margin: $spacing-default;
    }
}

@keyframes click {
    0%, 100% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(1px, 2px);
    }
}
