/* Font Names */
$font-robotoslab: 'Roboto Slab', serif;
$font-poppins: 'Poppins', sans-serif;

/* endOf Font Names */

/* Sizes */
// Spacing Size
$spacing-default: 40px;
$spacing-default-half: $spacing-default / 2;
$spacing-default-double: $spacing-default * 2;
$spacing-secondary: 30px;
$spacing-secondary-half: $spacing-secondary / 2;
$spacing-secondary-double: $spacing-secondary * 2;

// Font Sizes
$size-font-xxs: 10px;
$size-font-xs: 12px;
$size-font-s: 14px;
$size-font: 16px;
$size-font-m: 18px;
$size-font-l: 28px;
$size-font-xl: 32px;
$size-font-xxl: 40px;

/* endOf Sizes */

/* Colors */
// Colors
$color-branding: #4a9ef5;

// Grays
$color-white: #fff;
$color-background: #FCFCFC;
$color-contrast: #505050;

// Filters
$color-filter-contrast: invert(28%) sepia(14%) saturate(0%) hue-rotate(185deg) brightness(100%) contrast(89%);

/* endOf Colors */

/* Screen Sizes */
$size-screen-mobile-s: 350px;
$size-screen-mobile: 425px;
$size-screen-mobile-m: 550px;
$size-screen-mobile-l: 675px;
$size-screen-desktop-s: 1024px;
$size-screen-desktop-m: 1200px;
$size-screen-desktop-l: 1366px;
$size-screen-desktop-xl: 2560px;