.feature-display-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 400px;
    max-width: 400px;
    min-height: 200px;
    max-height: 200px;
    background-color: transparentize($color-background, 0.08);
    border-radius: 2px;
    text-align: center;
    transform: translate(0, 0);
    transition: all .2s;
    animation: scaleIn .25s normal;

    h2 {
        font-family: $font-poppins;
        font-size: $size-font-m;
        font-weight: 400;
        color: $color-branding;
        line-height: 1;
    }

    h4 {
        font-family: $font-poppins;
        font-style: $size-font-l;
        color: $color-contrast;
    }

    p {
        font-family: $font-poppins;
        font-size: $size-font-xs;
        color: $color-contrast;
    }

    img {
        max-height: 48px;
    }

    &.active {
        background-color: $color-background;
    }

    &:first-child {
        margin-top: $spacing-default;
    }

    &:last-child {
        margin-bottom: $spacing-default;
    }

    &:not(:last-child) {
        margin-bottom: $spacing-default;
    }

    &:hover {
        transform: translate(-2px, -2px);
    }
}

@media only screen and (max-width: $size-screen-mobile-l) {
    .feature-display-card {
        width: 100%;
        max-width: unset;
        min-width: 300px;
        max-height: unset;
        min-height: 200px;
    }
}