.header-navigation {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;

    * {
        color: inherit;
        border: none;
        background: transparent;
        text-decoration: none;
        transition: all .25s;

        &:not(div):hover {
            color: $color-branding;
        }
    }

    .brand {
        margin-right: $spacing-default;
    }

    .link:not(:last-child) {
        margin-right: $spacing-secondary;
    }

    .brand {
        font-family: $font-poppins;
        font-size: $size-font-l;
        font-weight: 600;
        cursor: pointer;
    }

    .link {
        font-family: $font-poppins;
        font-size: $size-font-m;
        font-weight: 300;
        cursor: pointer;
    }

    .active {
        color: $color-branding;
    }
}

@media only screen and (max-width: $size-screen-mobile-l) {
    .header-navigation {
        flex-direction: column;
        margin-top: $spacing-default-half;

        .brand {
            margin: 0;
            margin-bottom: 5px;
        }

        div {
            margin: 0;
        }
    }
}