.tiny-display-cards-wrapper {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.tiny-display-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: 150px;
    min-height: 150px;
    max-height: 150px;
    border-radius: 3px;
    cursor: default;

    > *:first-child {
        margin-bottom: 10px;
    }
}